.toDo {
    display: grid;
    grid-template-columns: 75px 1fr 125px;
    padding: 1rem 0;
    gap: 0.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #333333;
}

.status {
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
}

.content {
    border-right: 1px solid #262626;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    padding-right: 0.25rem;
}

.buttons {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}
.complete {
    background: #14540d;
}
.complete:hover {
    background: #0f6a08;
}
.delete {
    background: #740a01;
}
.delete:hover {
    background: #8b0000;
}

.completed {
    color: #008000;
    font-size: 2rem;
    transition: all 0.5s;
}
.completed:hover {
    transform: scale(1.5) rotate(25deg);
    filter: drop-shadow(0 0 5px #008000);
}

.pending {
    color: #8b0000;
    font-size: 2rem;
    transition: all 0.5s;
}
.pending:hover {
    transform: scale(1.5) rotate(25deg);
    filter: drop-shadow(0 0 5px #8b0000);
}